[package]
name = "zhconv"
version = "0.1.0-rc6"
edition = "2021"
authors = ["Hung-I Wang <whygowe@gmail.com>"]
license = "GPL-2.0-or-later"
repository = "https://github.com/Gowee/zhconv-rs"
description = "Convert Traditional/Simplified Chinese and regional words of Taiwan/Hong Kong/mainland China/Singapore based on MediaWiki conversion tables 轉換中文簡體、繁體及兩岸、新馬地區詞，基於MediaWiki之字詞轉換表"
categories = ["text-processing", "localization", "value-formatting"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
regex = "1.5"   
lazy_static = "1.4"
itertools = "0.10"
strum = { version = "0.24", features = ["derive"] }
once_cell = "1.8"
aho-corasick = "0.7"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2"

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = {version = "0.1"} #, default-features = true, optional = true}

# # `wee_alloc` is a tiny allocator for wasm that is only ~1K in code size
# # compared to the default allocator's ~10K. It is slower than the default
# # allocator, however.
# #
# # Unfortunately, `wee_alloc` requires nightly Rust when targeting wasm for now.
# wee_alloc = {version = "0.4", default-features = true, optional = true}


[dev-dependencies]
criterion = "0.3"

[build-dependencies]
const_format = "0.2"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls", "blocking"] }
sha2 = "0.10"
hex-literal = "0.3"
regex = "1.5"
itertools = "0.10"
once_cell = "1.8"
vergen = "7.3"

[[bench]]
name = "zhconv_benchmark"
harness = false


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
